
# Database URL to connect to the database, should be postgresql://username:password@localhost:5432/database_name
DATABASE_URL=

# Secret Key to sign JWTs
JWT_SECRET_KEY=
# Fallback for JWT Secret Key
SECRET_KEY=



# For the flask app to know where to set the cookies and where to run, should be drhscit.org for cookie domain.
SERVER_NAME=
COOKIE_DOMAIN=


# Email credentials to send verification emails, mail username and default sender should be the same
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=


# Base URL for the API, used in the frontend to make requests to the backend, should be the base URL of the backend server
VITE_API_BASE_URL=